Repository pyt-team/TopoModelX, pull requests merged in 2023-08, with the labels that each got.

#144 Feature HMPNN (Heydari et Livi) implementation
  test/nn/hypergraph/test_HMPNN_layer.py
  topomodelx/nn/hypergraph/HMPNN_layer.py
  tutorials/hypergraph/HMPNN_train.ipynb
Labels: icml challenge 2023, hypergraph

#143 Feature HNHN (Dong et al. 2020) implementation
  test/nn/hypergraph/test_HNHN_layer.py
  topomodelx/nn/hypergraph/HNHN_layer.py
  tutorials/hypergraph/HNHN_train.ipynb
Labels: icml challenge 2023, hypergraph

#142 Simplicial Complex Autoencoder (CMPS)
  test/nn/simplicial/test_sca_cmps_layer.py
  topomodelx/nn/simplicial/sca_cmps_layer.py
  tutorials/simplicial/sca_train.ipynb
Labels: icml challenge 2023, simplicial

#141 Implementation of HyperSAGE
  test/nn/hypergraph/test_hypersage_layer.py
  topomodelx/nn/hypergraph/hypersage_layer.py
  tutorials/hypergraph/hypersage_train.ipynb
Labels: icml challenge 2023, hypergraph

#137 Implementation of Dist2Cycle
  test/nn/simplicial/test_dist2Cycle_layer.py
  topomodelx/nn/simplicial/dist2Cycle_layer.py
  tutorials/simplicial/dist2Cycle_train.ipynb
Labels: icml challenge 2023, simplicial

#138 Implementation of HyperGAT
  test/nn/hypergraph/test_hypergat_layer.py
  topomodelx/nn/hypergraph/hypergat_layer.py
  tutorials/hypergraph/hypergat_train.ipynb
Labels: icml challenge 2023, hypergraph

#135 SCoNe Branch
  test/nn/simplicial/test_scone_layer.py
  topomodelx/nn/simplicial/scone_layer.py
  tutorials/simplicial/scone_train.ipynb
Labels: icml challenge 2023, simplicial

#131 Implementation of UniGCNII layer
  test/nn/hypergraph/test_uniGCNII_layer.py
  topomodelx/nn/hypergraph/unigcnii_layer.py
  tutorials/hypergraph/unigcnii_train.ipynb
Labels: icml challenge 2023, hypergraph

#132 Implement SCN(Yang22C)
  test/nn/simplicial/test_scn_layer.py
  topomodelx/nn/simplicial/scn_layer.py
  tutorials/simplicial/scn_train.ipynb
Labels: icml challenge 2023, simplicial

#115 Implementation of CWN
  test/nn/cell/test_cwn_layer.py
  topomodelx/nn/cell/cwn_layer.py
  tutorials/cell/cwn_train.ipynb
Labels: icml challenge 2023, cellular

#114 Implementation of SCConv for the ICML 2023 challenge
  test/nn/simplicial/test_scconv_layer.py
  topomodelx/nn/simplicial/scconv_layer.py
  tutorials/simplicial/scconv_train.ipynb
Labels: icml challenge 2023, simplicial

#95 Add uniSAGE layer
  test/nn/hypergraph/test_unisage_layer.py
  topomodelx/nn/hypergraph/unisage_layer.py
  tutorials/hypergraph/uniSAGE_train.ipynb
Labels: icml challenge 2023, hypergraph

#91 Initial UniGIN implementation
  test/nn/hypergraph/test_unigin_layer.py
  topomodelx/nn/hypergraph/unigin_layer.py
  tutorials/hypergraph/unigin_train.ipynb
Labels: icml challenge 2023, hypergraph

#123 Implementation of SCNN
  test/nn/simplicial/test_scnn_layer.py
  topomodelx/nn/simplicial/scnn_layer.py
  tutorials/simplicial/scnn_train.ipynb
Labels: icml challenge 2023, simplicial

#116 DHGCN layer implementation
  .github/workflows/test.yml
  test/nn/hypergraph/test_dhgcn_layer.py
  topomodelx/nn/hypergraph/dhgcn_layer.py
  tutorials/hypergraph/dhgcn_train.ipynb
Labels: icml challenge 2023, hypergraph

#128 Implementation of AllSetTransformer
  .gitignore
  docs/contributing/index.rst
  test/nn/hypergraph/test_allsettransformer.py
  topomodelx/nn/hypergraph/allsettransformer_layer.py
  tutorials/hypergraph/allsettransformer_train.ipynb
  tutorials/hypergraph/template_train.ipynb
Labels: icml challenge 2023, hypergraph

#108 Implementation of CAN
  test/nn/cell/test_can_layer.py
  topomodelx/nn/cell/can_layer.py
  tutorials/cell/can_train.ipynb
Labels: icml challenge 2023, cellular

#105 Add uniGCN layer
  test/base/test_conv.py
  test/nn/hypergraph/test_unigcn_layer.py
  topomodelx/base/conv.py
  topomodelx/base/message_passing.py
  topomodelx/nn/hypergraph/unigcn_layer.py
  tutorials/hypergraph/uniGCN_train.ipynb
Labels: icml challenge 2023, hypergraph
